@model IEnumerable<E_Study.Core.Models.Course>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutNotLoggedIn";
}
<style>
    /* CSS to change mouse pointer to pointer when hovering over table rows */
    .clickable-row:hover {
        cursor: pointer;
    }
</style>
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Lớp của bạn</h3>

                </div>
            </div>
        </div>

        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 mb-4">
                        <div class="card" style="transition: box-shadow 0.3s ease;" onmouseover="this.style.boxShadow='0 4px 8px rgba(0,0,0,0.3)';" onmouseout="this.style.boxShadow='none';">
                            <div class="card-body">

                                <div class="dropdown align-items-start justify-content-end">
                                    <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                                <div class="card-title d-flex align-items-center justify-content-center">
                                    <div class="avatar avatar-xl">
                                        <span class="avatar-initial rounded bg-primary">@item.Name.Substring(0, 1)</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h5 class="card-text mb-2">@item.Name</h5>
                                </div>
                                <a href="@Url.Action("NewFeed", "Course", new { courseId = item.Id })" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>

