@model List<E_Study.Core.Models.User>;

@{
}

<div class="container">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h4 class="card-title m-0 me-2">Thành viên lớp</h4>
        <div class="dropdown">
            <button class="btn p-0" type="button" id="customerRatings" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="customerRatings">
                <a class="dropdown-item" href="javascript:void(0);">Featured Ratings</a>
                <a class="dropdown-item" href="javascript:void(0);">Based on Task</a>
                <a class="dropdown-item" href="javascript:void(0);">See All</a>
            </div>
        </div>
    </div>
    <ul>
        @if (@Model.Any())
        {
            @foreach (var user in Model)
            {
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/avatars/avatar-1.jpg" class="avatar avatar-md me-2" alt="avatar" />
                        <div class="d-flex flex-column">
                            <h6 class="mb-0">@user.FirstName @user.LastName</h6>
                        </div>

                    </div>
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary me-2">Chat</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary">Profile</a>
                    </div>
                </li>
            }
        }
        else
        {
            <div class="d-flex align-items-center">
                <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/avatars/avatar-1.jpg" class="avatar avatar-md me-2" alt="avatar" />
                <div class="d-flex flex-column">
                    <h3 class="mb-0">No user in course</h3>
                </div>

            </div>

        }

    </ul>
</div>