@model E_Study.Core.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<div class="card mb-3">
    <div class="card-body">
        <form id="postForm" id="createPostForm" asp-action="CreatePost" asp-controller="Course" method="post">
            <div class="form-group">
                <textarea asp-for="Text" id="postText" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input type="hidden" name="courseId" value="@ViewBag.CurrentCourseId" />
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>