@model E_Study.Core.Models.Course

@{
    ViewData["Title"] = "Create Course";
}

@* <div class="card mb-3">
    <div class="card-body">
        <form id="postForm" id="createPostForm" asp-action="CreatePost" asp-controller="Course" method="post">
            <div class="form-group">
                <textarea asp-for="Text" id="postText" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input type="hidden" name="courseId" value="@ViewBag.CurrentCourseId" />
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
 *@
<div class="mt-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#modalCenter">
        <span class="tf-icons bx bx-edit me-1"></span>Create course
    </button>
    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Create your course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="postForm" id="createPostForm" asp-action="CreateCoursePartial" asp-controller="Course" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col mb-3">
                                <label for="posText" class="form-label">Course Name</label>
                                <input asp-for="Name" id="postText" class="form-control"></input>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col mb-3">
                                <label for="posText" class="form-label">Description</label>
                                <textarea asp-for="Description" id="postText" class="form-control" rows="3" placeholder="Let people know what this course is about"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

