@model E_Study.Core.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<h1>Create Post</h1>

<form asp-action="CreatePost" asp-controller="Course" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <input type="hidden" name="courseId" value="@ViewBag.CurrentCourseId" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>
