@model E_Study.Core.Models.Event

@{
    ViewData["Title"] = "CreateEvent";
}

<h1>CreateEvent</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="EventType">Event Type</label>
                <select class="form-control" id="EventType" name="EventType" required>
                    <option value="">Select Event Type</option>
                    <option value="File">File</option>
                    <option value="Meeting">Meeting Url</option>
                    <option value="Exam">Thông báo</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>              
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Start Date</label>
                <input type="datetime-local" class="form-control" id="StartDate" name="StartDate">
            </div>
            <div class="form-group">
                <label asp-for="EndDate">End Date</label>
                <input type="datetime-local" class="form-control" id="EndDate" name="EndDate">
            </div>
            <div class="form-group">
                <label asp-for="File">Upload File</label>
                <input type="file" class="form-control-file" id="File" name="File">
            </div>
            <input type="hidden" name="courseId" value="@ViewBag.CurrentCourseId" />
            <div class="form-group">
                <input type="submit" value="Tạo event" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

