@model E_Study.Core.Models.UserCourse

@{
    ViewData["Title"] = "AddUserToCourse";
}

<h1>AddUserToCourse</h1>

<h4>UserCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="CourseId" value="@ViewBag.CourseId" />
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
